<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
      <a href="/src/index.html" class="navbar-brand"
        ><img
          height="50"
          src="/src/assets/images/logo.png"
          alt="Candado con diferentes conexiones"
      /></a>
      <div class="justify-content-evenly d-none d-lg-block" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./speakers.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./blog.html">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./form.html">Form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
